
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

.idea/
*.iml
*.ipr
*.iws

**/*.class
*.jar
*.war
*.ear
*.json

.classpath
.project
.settings/

**/bin/
**/out/
**/.gradle/
**/build/
**/target/

hs_err_pid*.log

__pycache__/
*.py[cod]
*.pyd

.Python
pip-wheel-metadata/

build/
dist/
*.egg-info/
*.egg

.venv/
venv/
ENV/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.ipynb_checkpoints/

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/
.parcel-cache/
.next/
.nuxt/

.env
.env.*
